*{
    padding:0%;
    margin: 0%;
}
header{

    background-color: blue;
}
.logo span{
   color: white;
   font-size: 30px;
   font-weight: bold;

 
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.nav-link{
    display:flex;
    align-items: center;
    margin: 20px;
}
.nav-items{
 display: flex;   
 flex-direction: row;
 margin: 10px;
}
.nav-items li {
    list-style-type: none;
}
.nav-items li a{
    color: white;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
}
.nav-items li a:hover{
    color: green;
    transition: 0.5s;
}

